<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Deserts</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid" id='datadiv'>
        <form action="/">
          <input id='homebutton' type="submit" value="Home" />
        </form>
        <h1>Data Collected</h1>
        <h3>Figure 1</h3>
        <div id='ptimg'></div>
        <p>There is a semi-strong correlation between family income and where you live which is -.312. There may be other factors that affect where a person lives like race, job placement, resources, etc. According to the pivot table which measures the relationship between income and location of the participant, 85% of families who reported that their family income is equal to or less than $39,001-$49,000, live in Canarsie, East New York, and Bed Stuy. While people who have a higher income live in the other two neighborhoods that were surveyed which is Bay Ridge and Park Slope. Indeed, it can be inferred that living in those two neighborhoods require a person to make more than or equal to $59,001-$69,000.</p>
        <h3>Figure 2</h3>
        <div id='fm-ptimg'></div>
        <p>The data shown in figure 2  shows the number of farmers markets participants knew to be in their neighborhoods. 75% of people who responded that they have less than or equal to three farmers markets in their neighborhood reside in Canarsie, East New York, and Bed Stuy. On the other hand, 65% of people who responded that they have more than or equal to four farmers markets in their neighborhood reside in Bay Ridge and Park Slope. Twenty six respondents were unsure about the amount of farmers markets in their neighborhood. Therefore, 75% of people do not have a sufficient amount of access to health foods because the amount of farmers markets in their neighborhood is limited.</p>
        <h3>Figure 3</h3>
        <div id='ff-ptimg'></div>
        <p>The data shown in figure 3 shows the number of fast food restaurants participants knew to be in their neighborhoods. 58% of respondents said that they they have four or more fast food restaurants in their neighborhood. However, 61% of those respondents reside in Canarsie, East New York, and Bed Stuy. Unlike the farmers market data, only 12 respondents were unsure of how many fast food restaurants were in their neighborhood. Based on figure 2 and figure 3, the data shows that a neighborhood with less than or equal to 3 farmers market will mostly likely have 4 or more fast food restaurants.</p>
        <h3>Figure 4</h3>
        <div id='fm-graph'></div>
        <p>The data shown in figure 4 shows the willingness of participants to buy food from farmers markets if the respondent would be able to a receive tax credit by doing so. Three of the respondents were unwilling to buy from a farmers market which means that 98% of the respondents are somewhat willing, willing, and very willing. The majority of respondents are very willing to buy from a farmers market. Based on the data, tax credit would be an effective way for more people to gain access to health foods sold from farmers markets. </p>
        <h3>Figure 5</h3>
        <div id='gm-graph'></div>
        <p>The data shown in figure 5 shows the willingness of participants to buy food from farmers markets if the farmers market is affordable and near by. 20% of the respondents were somewhat willing to buy from a farmers market, however, 79% of the respondents are willing and very willing. Majority of respondents are very willing to buy from a farmers market. Based on the data, more people would shop at farmers markets if they had access to them and could afford the food sold.</p>
    </div>
  </body>
</html>
