<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Food Deserts</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    <div id='header'>
      <h1 id='title'>Food Desert Awareness</h1>
      <h2 id='subtitle'>Health Food 4 All</h2>
    </div>
    <div>
      <div id='fdexplination' class="container-fluid">
        <h2>What is a food desert?</h2>
        <p>It is an urban area in which it is difficult to buy affordable or good-quality fresh food.</p>
        
        <div id='fddata'>
            <h3>Data Collected</h3>
            <p id = 'dataExplination'>I distributed 186 surveys to the general population of Bay Ridge, Canarsie, East New York, Park Slope, and Bed Stuy. This cluster sampling method performed in these neighborhood enabled every fourth passerby to be randomly selected to complete the survey. According to the New York City Census, the population size  for these five neighborhood is 478,519; my survey demonstrates a sample of the entire population of that area. Using my sample size and the population of Bay Ridge, Canarsie, East New York, Park Slope, and Bed Stuy with a 95 percent confidence level, the margin of error was +/- 7.22.</p>
            <form method="post" action="/data">
              <input id='databutton' type='submit' value='Click here to read more about the Data.'></input>
            </form>
            <br>
            <br>
        </div>
      </div>
      
      <div id='fdsolution' class="container-fluid">
        <h2>How can we fix this?</h2>
        <p>A petition was made to create a tax credit for families who live in food deserts. According to <a href="https://pdfs.semanticscholar.org/62f5/1c85f570761376d9ef8994d11b18a06fc706.pdf">"Exploring Consumer Spending at Farmers’ Markets: Who Spends More?"</a>, average consumer spending per week at farmers’ markets was $17.30. This means that yearly consumers are spending $3,598.40. On the other hand, According to <a href="https://www.partnersforyourhealth.com/fast-food-statistics">"Partners for Your Health"</a>, the average amount spent yearly on fast food is $1200. The difference between the two is $2,398.40.<br><br> A tax credit for people who make less than 49,000. 33% of the amount of money spent at a farmers market will be returned to families if they spend less than or equal to $3,600. This will help to fulfil the difference between buying fast food and health foods.</p>
        
        <h3><a href="http://chng.it/bhsFBLMdVw">Sign Petition Here</a></h3>
      </div>
      
      <div id='whatsSNAP' class="container-fluid">
        <h2>What is SNAP?</h2>
        <p>SNAP offers nutrition assistance to millions of eligible, low-income individuals and families and provides economic benefits to communities. SNAP is the largest program in the domestic hunger safety net. The Food and Nutrition Service works with State agencies, nutrition educators, and neighborhood and faith-based organizations to ensure that those eligible for nutrition assistance can make informed decisions about applying for the program and can access benefits. FNS also works with State partners and the retail community to improve program administration and ensure program integrity.</p>
        
        <h2>How do you apply?</h2>
        <a href="https://www1.nyc.gov/site/hra/help/snap-benefits-food-program.page">SNAP Benefits & Food Program</a>
        <ul>
          <li>You can apply online on <a href="https://a069-access.nyc.gov/accesshra/#/">ACCESS HRA</a>. <a href="https://www1.nyc.gov/assets/hra/ACCESSNYC/pdf/announcements/welcome_english.pdf">Read the user guide for ACCESS HRA</a>.</li>
          <li>You can call our Infoline at 718-557-1399 to have an application mailed to you</li>
          <li>You can pick up an application at one of our <a href="https://www1.nyc.gov/site/hra/locations/locations.page">SNAP centers</a>.</li>
          <li>You can print out an application and drop off at a SNAP center: <a href="https://www1.nyc.gov/site/hra/locations/locations.page">SNAP center</a>.</li>
        </ul>
      </div>
      
      <div id='find_fm' class="container-fluid">
        <h2>Find A Farmers Market Near You (Only works in New York State)</h2>
        <form method="post" action="/result">
          <input id='infobox' type="text" name="answer" placeholder="zip code or city"><br>
          <input id='submitbutton' type="submit" value="Submit">
        </form>
      </div>
      
      <div id='fdmission' class="container-fluid">
        <h2>Mission Statement</h2>
        <p>There needs to be change regarding the issue of food deserts because its affecting low-income people/families. In order to help, initiative needs to be taken so that more people can afford to buy health foods from farmers markets.</p>
      </div>
      
      <div id='contact' class="container-fluid">
        <h2>Contact Me</h2>
        <h4>Email: raquelj6437@hstat.org</h4>
        <h4>Phone: +1(201)838-1407</h4>
      </div>
      
      <div id='sources' class="container-fluid">
        <h3>Sources</h3>
        <p><a href="https://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program-snap">https://www.fns.usda.gov/snap/supplemental-nutrition-assistance-program-snap</a></p>
      </div>
    </div>
  </body>
</html>
