<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>
    
    <div class="container-fluid">
      <div id='header'>
        <h1 id='title'>Food Desert Awareness</h1>
      </div>
      
      <div id='fdexplination'>
        <h2>What is a food desert?</h2>
        <p>It is an urban area in which it is difficult to buy affordable or good-quality fresh food.</p>
      </div>
      
      <div id='fdsolution'>
        <h2>How can we fix this?</h2>
        <p>A petition was made to create a tax credit for families who live in food deserts. According to <a href="https://pdfs.semanticscholar.org/62f5/1c85f570761376d9ef8994d11b18a06fc706.pdf">Exploring Consumer Spending at Farmers’ Markets: Who Spends More?</a>, average consumer spending per week at farmers’ markets was $17.30. This means that yearly consumers are spending $3,598.40. <br><br> A tax credit for people who make less than 49,000. 25% of the amount of money spent at a farmers market will be returned to families.</p>
        
        <h3><a href="http://chng.it/bhsFBLMdVw">Sign Petition Here</a></h3>
      </div>
      
      <div id='find_fm'>
        <h2>Find A Farmers Market Near You</h2>
        <form method="post" action="/result">
          <input type="text" name="input1"><br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
</html>
