@import url('https://fonts.googleapis.com/css?family=Dokdo|Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
    background-color: #ffe6b3;
    font-family: 'PT Sans', sans-serif;
}

#header{
    text-align: center;
    height: 500px;
    background-image: url("../images/farmersmarket.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    bottom: 20px;
    color: white;
}

#ptimg{
    background-image: url("../images/data-images/pivot-table.png");
    height: 550px;
}

#ff-ptimg{
    background-image: url("../images/data-images/ff-pivot-table-graph.png");
    height: 500px;
}

#fm-ptimg{
    background-image: url("../images/data-images/fm-pivot-table-graph.png");
}

#fm-graph{
    background-image: url("../images/data-images/fm-graph.png");
}

#gm-graph{
    background-image: url("../images/data-images/gm-graph.png");
}

#ptimg, #ff-ptimg, #fm-ptimg, #fm-graph, #gm-graph{
    background-repeat: no-repeat;
    background-size: 50%;
}

#fm-ptimg, #fm-graph, #gm-graph{
    height: 400px;
}

#title, #subtitle{
    position: relative;
    top: 170px;
}

#title{
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}

#subtitle{
    font-size: 60px;
    font-family: 'Dokdo', cursive;
}

h2{
    text-align: center;
}

/*#fdexplination, #fdsolution, #whatsSNAP, #find_fm, #sources{*/
/*    height: 400px;*/
/*}*/

#fdsolution, #find_fm, #contact{
    background-color: white;
}

#fdexplination, #whatsSNAP, #fdmission, #sources{
    background-color: #ffe6b3
}

@media (max-width: 768px) {
    #header{
        height: 700px;
    }
    
    #title, #subtitle{
        position: relative;
        top: 230px;
    }
    
    #title{
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    }
    
    #subtitle{
        font-size: 30px;
        font-family: 'Dokdo', cursive;
    }
    /*#fdexplination, #fdsolution, #whatsSNAP, #find_fm, #sources{*/
    /*    height: 500px;*/
    /*}*/
}

.container-fluid{
    padding-right: 50px;
    padding-left: 50px;
}

#find_fm{
    height: 300px;
    text-align: center;
}

form{
    position: relative;
    top: 30px;
}

#infobox{
    height: 30px;
    width: 300px;
}

#submitbutton{
    position: relative;
    top: 20px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    background-color: rgb(75, 182, 255);
    border: none;
}

p, li, a{
    font-size: 20px;
}

.fm{
    background-color:rgb(255, 186, 0);
    padding-left: 50px;
    padding-right: 50px;
    height: 350px;
}

.insidefm{
    position: relative;
    top: 20px;
}

#rtitle{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px
}

#sorry{
    font-size: 70px;
}

#homebutton, #databutton{
    height: 40px;
    background-color: rgb(75, 182, 255);
    border-color: black;
}

#databutton{
    width: 300px;
}

#homebutton{
    width: 100px;
    position: absolute;
}

h3, h1{
    text-align: center;
}

#contact{
    height: 400px;
}

#contactinfo{
    border-style: solid;
    border-color: black;
    height: 200px;
    width: 800px;
    text-align: center;
    position: relative;
    left: 20%;
    top: 10%;
}

#contactinfo h4{
    position: relative;
    top: 30%;
    font-size: 20px;
}